{% extends "base.html" %} {% block content %}
<!-- BANNER -->
<section
  class="section-hero overlay inner-page bg-image"
  style="background-image: url({{ url_for('static', filename='img/susan-yin-2JIvboGLeho-unsplash.jpg')}})"
  id="home-section"
>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Profile</h1>
        <div class="custom-breadcrumbs">
          <a href="{{url_for('index')}}">Home</a>
          <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Profile</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- EDIT EMAIL & PASSWORD FORM -->
<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2 class="mb-4">Change Email</h2>
        <form
          class="p-4 border rounded"
          id="changeEmail"
          method="POST"
          action=""
        >
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="{{data}}"
                required
              />
            </div>
          </div>
          <div
            id="email-error-note"
            class="alert alert-danger"
            role="alert"
          ></div>
          {% if emailError %}
          <div class="alert alert-danger" role="alert">{{ emailError }}</div>
          {% endif %}
          <div class="row form-group">
            <div class="col-md-12">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <input
                type="submit"
                name="submit"
                value="Change Email"
                class="btn px-4 btn-primary text-white"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 mx-auto">
        <h2 class="mb-4">Change Password</h2>
        <form
          class="p-4 border rounded"
          id="changePassword"
          method="POST"
          action=""
        >
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="password">Current Password</label>
              <input
                type="password"
                name="oldpassword"
                class="form-control"
                placeholder="Old Password"
                required
              />
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="password">New Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required
              />
            </div>
          </div>

          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="password"
                >Confirm New Password</label
              >
              <input
                type="password"
                name="confirmpassword"
                class="form-control"
                placeholder="Confirm Password"
                required
              />
            </div>
          </div>

          <div
            id="password-error-note"
            class="alert alert-danger"
            role="alert"
          ></div>
          {% if passwordError %}
          <div class="alert alert-danger" role="alert">{{ passwordError }}</div>
          {% endif %}
          <div class="row form-group">
            <div class="col-md-12">
              <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
              />
              <input
                type="submit"
                name="submit"
                value="Change Password"
                class="btn px-4 btn-primary text-white"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function () {
    $("#email-error-note").hide();
    $("#password-error-note").hide();

    $("#changeEmail").validate({
      errorLabelContainer: "#email-error-note",
      errorElement: "div",
      rules: {
        email: {
          email: true,
        },
      },
      messages: {
        email: "Please enter a valid email address.",
      },
      invalidHandler: function (event, validator) {
        // 'this' refers to the form
        var errors = validator.numberOfInvalids();
        if (errors) {
          $("#email-error-note").show();
        } else {
          $("#email-error-note").text = "";
          $("#email-error-note").hide();
        }
      },
      submitHandler: function (form) {
        $("#email-error-note").text = "";
        $("#email-error-note").hide();
        $(form).ajaxSubmit();
      },
    });

    $("#changePassword").validate({
      errorLabelContainer: "#password-error-note",
      errorElement: "div",
      rules: {
        oldpassword: {
          required: true,
          minlength: 8,
        },
        password: {
          required: true,
          minlength: 8,
        },
        confirmpassword: {
          required: true,
          minlength: 8,
          equalTo: '[name="password"]',
        },
      },
      messages: {
        oldpassword: {
          required: "Please provide a current password.",
          minlength:
            "Your current password must be at least 8 characters long.",
        },
        password: {
          required: "Please provide a new password.",
          minlength: "Your new password must be at least 8 characters long.",
        },
        confirmpassword: {
          required: "Please provide a new confirmed password.",
          minlength:
            "Your new confirm password must be at least 8 characters long.",
          equalTo: "Password and confirm password is not match.",
        },
      },
      invalidHandler: function (event, validator) {
        // 'this' refers to the form
        var errors = validator.numberOfInvalids();
        if (errors) {
          $("#password-error-note").show();
        } else {
          $("#password-error-note").text = "";
          $("#password-error-note").hide();
        }
      },
      submitHandler: function (form) {
        $("#password-error-note").text = "";
        $("#password-error-note").hide();
        $(form).ajaxSubmit();
      },
    });
  });
</script>

{% endblock %}
