{% extends "base.html" %} {% block content %}
<!-- STATITICS -->
<section
  class="section-hero overlay inner-page bg-image"
  style="
    background-image: url('/static/img/clay-banks-pNEmlb1CMZM-unsplash.jpg');
  "
  id="home-section"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold ">Search</h1>
        <div class="custom-breadcrumbs mb-5">
          <a href="{{url_for('index')}}">Home</a>
          <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Search</strong></span>
        </div>

        <form
          method="POST"
          class="search-jobs-form"
          action="{{url_for('post.search_post')}}"
        >
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-12 col-lg-9 mb-4 mb-lg-0">
              <input
                type="text"
                name="search"
                class="form-control form-control-lg"
                value="{{searchTerm|safe}}"
                placeholder="Material title, Company..."
                maxlength="255"
              />
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-lg-3 mb-4 mb-lg-0">
              <input
                type="hidden"
                name="csrf_token"
                id="csrf_token"
                value="{{ csrf_token() }}"
              />
              <button
                type="submit"
                name="searchpost"
                class="btn btn-primary btn-lg btn-block text-white btn-search"
              >
                <span class="icon-search icon mr-2"></span>Search Material
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    {% if (data|length) > 0 %} {% for item in data %}
    <ul class="job-listings mb-2">
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{{url_for('post.get_post', post=item.post_id)}}"></a>
        <div
          class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4 py-2"
        >
          <div class="job-listing-position custom-width w-75 mb-3 mb-sm-0">
            <h2>{{item.title|safe}}</h2>
            <span>{{item.description|safe}}</span>
          </div>
          <div class="job-listing-meta">
            <span class="badge badge-success"
              >Posted on : {{item.created_on}}</span
            >
          </div>
        </div>
      </li>
    </ul>
    {% endfor %} {% else %}
    <h1 class="col-12 text-center">No Post found</h1>
    {% endif %}
  </div>
</section>
{% endblock %}
